.comment-form {
  display: grid;
  grid-gap: 10%;
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2;
  justify-content: center;
  margin-bottom: 6%;
  background-color: white;
  height: 30vh;
  border-radius: 6px;
}

.form-title {
  color: black;
  padding: 0;
  margin: 0;
}

.comment-input {
  width: 35vw;
  margin-left: 2vw;
  border: none;
  background-color: #d6dde1;
  text-align: center;
  padding-top: 2vh;
  border-radius: 6px;
}

.comment-submit-btn {
  width: 40.5vw;
  justify-content: center;
  border: none;
  background-color: #000000;
  color: white;
  font-family: 'Skranji', cursive;
  font-size: calc(14px + 2vmin);
}
